.exchangeheader {
  background-color: purple;
  color: #ffffff;
}

.evenrow tr:nth-child(even) {
  background-color: #D8BFD8;
}

.tablefont {
  font-family: Candara;
  text-align: center;
}

.hover td:first-child:hover {
  color: #FF0000;
}

/* .hover td:nth-child(1):hover {
  color: #FF0000;
} */